{% include "./base.html" %} 
{% load static %}

{% block content %}
<div class="container my-5">
 <div class="row">
 <h3 class="text-capitalize">Welcome {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn ">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-primary">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    
    {% for add in address   %}
       
    <div class="col-sm-6 mt-2">
        <div class="card">
         <div class="card-body">
          <h3>Address {{forloop.counter}}</h3>
          <p>Name: {{add.name}}</p>
          <p>City: {{add.city}}</p>
          <p>Address 1: {{add.address}}</p>
          <p>Address 2: {{add.address2}}</p>
          <p>State: {{add.state}}</p>
          <p>Zip: {{add.zipcode}}</p>
         </div>
        </div>
       </div>
    
    {% endfor %}
    
    </div>
   </div>
  </div>
 </div>
</div>
{% include "footer.html" %}
{% endblock content %}