{% include "./base.html" %} 
{% load static %}



{%block content%}


<div class="container LernContainer">
    <div class="row">
     <h2 class="lernTitle">  Replacing tires in 5 steps.</h2>
        <div class="col-md-6 mt-4">
           
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Confirm if you need new tires</li>
                <li class="list-group-item">Define how many tires you need</li>
                <li class="list-group-item">Pick the right sized tire</li>
                <li class="list-group-item">Select the right type of tire according to your use</li>
                <li class="list-group-item">Schedule online and install in a shop near you</li>
              </ol>

        </div>
    </div>
</div>




{% include "footer.html" %}
{%endblock content%}